<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://pbsi.xyz/style.css">
    <title>Portal | Sillies</title>
    <link rel="shortcut icon" href="./static/favicon.ico" type="image/x-icon">
    <h1>⎥ <img src="  <%= skin %>", width="30", height="30"> Welcome <color style="color: <%= color %>;"><%= username %>!</color></h1>
    
</head>
<body class="stackedit__html">
 <ul>
    <h2>
    <li><b>Rank:</b> <color style="color: <%= color %>;"><%= rank %></color></li>
    <li><b>Guild Xp:</b> <color style="color: teal;"><%= gxp %></color></li>
    <li><b>Total Guild Xp:</b> <color style="color: teal;"><%= tgxp %></color></li>
    <li><b>Playtime:</b> <color style="color: teal;"><%= playtime %></color></li>
    <li><b>Level:</b> <color style="color: teal;"><%= level %></color></li>
    <li><b>KDR:</b> <color style="color: teal;"><%= kdr %></color></li>

</h2>
    <li><b><a href="https://discord.gg/nPJuvjFTpZ">Discord</a></b></li>
    <li><b><a href="/">Home Page</a></b></li>
 </ul>
</body>